# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [50]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [51]:
# Your code here:
data = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

In [52]:
# Before I continue I will standardize header names
cols = []
for i in range(len(data.columns)):
    cols.append(data.columns[i].lower().replace(' ', '_'))
data.columns = cols
data.columns

Index(['name', 'job_titles', 'department', 'full_or_part-time',
       'salary_or_hourly', 'typical_hours', 'annual_salary', 'hourly_rate'],
      dtype='object')

Examine the `salaries` dataset using the `head` function below.

In [53]:
# Your code here:
data.head()

,name,job_titles,department,full_or_part-time,salary_or_hourly,typical_hours,annual_salary,hourly_rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [54]:
# Your code here:
round(data.isna().sum()/len(data)*100, 2)

name                  0.00
job_titles            0.00
department            0.00
full_or_part-time     0.00
salary_or_hourly      0.00
typical_hours        75.75
annual_salary        24.25
hourly_rate          75.75
dtype: float64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [55]:
# Your code here:
data['salary_or_hourly'].value_counts()

Salary    25528
Hourly     8174
Name: salary_or_hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [56]:
# Your code here:
data.groupby('department').agg({'department': 'count'})

                     department
department
ADMIN HEARNG                 38
ANIMAL CONTRL                75
AVIATION                   1856
BOARD OF ELECTION           111
BOARD OF ETHICS               8
BUDGET & MGMT                44
BUILDINGS                   258
BUSINESS AFFAIRS            167
CITY CLERK                   88
CITY COUNCIL                362
COPA                        123
CULTURAL AFFAIRS             74
DAIS                       1033
DISABILITIES                 28
FAMILY & SUPPORT            656
FINANCE                     544
FIRE                       4627
HEALTH                      467
HOUSING                      66
HOUSING & ECON DEV          154
HUMAN RELATIONS              17
HUMAN RESOURCES              75
INSPECTOR GEN                95
LAW                         398
LICENSE APPL COMM             1
MAYOR'S OFFICE              104
OEMC                       1737
POLICE                    13848
POLICE BOARD                  2
PROCUREMENT                  84
PUBLIC LIBRARY             1088
PUBLIC SAFETY ADMIN         244
STREETS & SAN              2175
TRANSPORTN                 1113
TREASURER                    28
WATER MGMNT                1914

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [57]:
hyp_hourly = data[(data['salary_or_hourly']=='Hourly')]
hyp_hourly = hyp_hourly['hourly_rate']
hyp_hourly

2        13.00
5        37.45
15       40.78
16       38.52
21       34.98
         ...
33676    25.95
33678    43.72
33681    51.43
33684    49.35
33688    37.45
Name: hourly_rate, Length: 8174, dtype: float64

In [58]:
from scipy.stats import ttest_1samp

stat, pval = ttest_1samp(hyp_hourly, 30)

In [59]:
print('Stat is', round(stat, 3), '\n')
print('The p-value for the two-tailed test is', pval)
print('The p-value for the one-tailed test is', pval/2, '\n')

if pval < 0.05:
    print('We must then reject H0.')
else:
    print('We must then accept H0.')

Stat is 31.212

The p-value for the two-tailed test is 3.825475847673794e-202
The p-value for the one-tailed test is 1.912737923836897e-202

We must then reject H0.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [60]:
# Your code here:
hyp_police = data[(data['department']=='POLICE')] # Not including the 2 members of the Police Board. 
hyp_police = hyp_police['annual_salary']

In [61]:
hyp_police.isna().sum()/len(hyp_police)*100

0.17331022530329288

In [62]:
hyp_police.shape

(13848,)

In [63]:
# To take into account: 0.17% of the police officer salaries are missing.

In [64]:
hyp_police.describe().T
# Both the mean and the median seem to be very close. 
# We will do the hypothesis test removing the NaNs. There are only a few missing values.

count     13824.000000
mean      88834.118924
std       17995.044146
min       42960.000000
25%       77520.000000
50%       90024.000000
75%       96060.000000
max      260004.000000
Name: annual_salary, dtype: float64

In [65]:
hyp_police1 = hyp_police.dropna()

In [66]:
stat, pval = ttest_1samp(hyp_police1, 86000)

In [67]:
print('Stat is', round(stat, 3), '\n')
print('The p-value for the two-tailed test is', pval)
print('The p-value for the one-tailed test is', pval/2, '\n')

if pval < 0.05:
    print('We must then reject H0.')
else:
    print('We must then accept H0.')

Stat is 18.517

The p-value for the two-tailed test is 1.2239133904242963e-75
The p-value for the one-tailed test is 6.119566952121482e-76

We must then reject H0.

Using the `crosstab` function, find the department that has the most hourly workers.

In [68]:
# Your code here:
data_crosstab = pd.crosstab(data['department'], data['salary_or_hourly'], margins = False)
display(data_crosstab)
data_crosstab.max()

salary_or_hourly     Hourly  Salary
department
ADMIN HEARNG              0      38
ANIMAL CONTRL            12      63
AVIATION               1214     642
BOARD OF ELECTION         0     111
BOARD OF ETHICS           0       8
BUDGET & MGMT             2      42
BUILDINGS                 0     258
BUSINESS AFFAIRS          7     160
CITY CLERK                0      88
CITY COUNCIL             74     288
COPA                      0     123
CULTURAL AFFAIRS         10      64
DAIS                    745     288
DISABILITIES              1      27
FAMILY & SUPPORT        357     299
FINANCE                  45     499
FIRE                      0    4627
HEALTH                    2     465
HOUSING                   0      66
HOUSING & ECON DEV        3     151
HUMAN RELATIONS           0      17
HUMAN RESOURCES           0      75
INSPECTOR GEN             0      95
LAW                      48     350
LICENSE APPL COMM         0       1
MAYOR'S OFFICE           17      87
OEMC                   1077     660
POLICE                   24   13824
POLICE BOARD              0       2
PROCUREMENT               2      82
PUBLIC LIBRARY          356     732
PUBLIC SAFETY ADMIN      48     196
STREETS & SAN          1846     329
TRANSPORTN              726     387
TREASURER                 0      28
WATER MGMNT            1558     356

salary_or_hourly
Hourly     1846
Salary    13824
dtype: int64

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [69]:
# Your code here:
# Streets & San is the department with the most hourly workers. 

hyp_streets = data[(data['department']=='STREETS & SAN')] 
hyp_streets = hyp_streets['hourly_rate']

In [70]:
hyp_streets.shape

(2175,)

In [71]:
hyp_streets.isna().sum()/len(hyp_streets)*100

15.126436781609195

In [72]:
# In this case, 15% of the values are missing. We will be replacing them by the mean. However, as the mean is similar to the
# amount claimed by the employees, we shall first be running the test without those values to see if there are any significant
# differences in the results.

In [73]:
hyp_streets = hyp_streets.dropna()

In [74]:
confidence_level = 0.95
degrees_freedom = len(hyp_streets) - 1 
sample_mean = np.mean(hyp_streets)
sample_standard_error = scipy.stats.sem(hyp_streets) 
confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [75]:
print('The confidence interval is', confidence_interval)

The confidence interval is (35.28150811892018, 35.82308559722106)

In [76]:
stat, pval = ttest_1samp(hyp_streets, 35)

In [77]:
print('Stat is', round(stat, 3), '\n')
print('The p-value for the two-tailed test is', pval)
print('The p-value for the one-tailed test is', pval/2, '\n')

if pval < 0.05:
    print('We must then reject H0.')
else:
    print('We must then accept H0.')

Stat is 4.0

The p-value for the two-tailed test is 6.580474443773579e-05
The p-value for the one-tailed test is 3.2902372218867895e-05

We must then reject H0.

In [78]:
hyp_streets1 = data[(data['department']=='STREETS & SAN')]
hyp_streets1 = hyp_streets1[['hourly_rate']]
hyp_streets1 = hyp_streets1['hourly_rate'].fillna(np.mean(hyp_streets1['hourly_rate']))

In [79]:
confidence_level = 0.95
degrees_freedom = len(hyp_streets1) - 1 
sample_mean = np.mean(hyp_streets1)
sample_standard_error = scipy.stats.sem(hyp_streets1) 
confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [80]:
print('The confidence interval is', confidence_interval)

The confidence interval is (35.32250105547052, 35.7820926606713)

In [81]:
stat, pval = ttest_1samp(hyp_streets1, 35)

In [82]:
print('Stat is', round(stat, 3), '\n')
print('The p-value for the two-tailed test is', pval)
print('The p-value for the one-tailed test is', pval/2, '\n')

if pval < 0.05:
    print('We must then reject H0.')
else:
    print('We must then accept H0.')

Stat is 4.713

The p-value for the two-tailed test is 2.592266013467305e-06
The p-value for the one-tailed test is 1.2961330067336526e-06

We must then reject H0.

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [83]:
# Your code here:
import scipy.stats

confidence_level = 0.95
degrees_freedom = len(hyp_hourly) - 1
sample_mean = np.mean(hyp_hourly)
sample_standard_error = scipy.stats.sem(hyp_hourly) 
confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [84]:
print('The confidence interval is', confidence_interval)

The confidence interval is (34.29839539204361, 34.874504045197305)

In [85]:
scipy.stats.sem(hyp_hourly)*stat

0.6925998920662029

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [86]:
confidence_level = 0.95
degrees_freedom = len(hyp_police1) - 1 
sample_mean = np.mean(hyp_police1)
sample_standard_error = scipy.stats.sem(hyp_police1) 
confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [87]:
print('The confidence interval is', confidence_interval)

The confidence interval is (88534.1182885883, 89134.11955863392)

In [88]:
scipy.stats.sem(hyp_police1)*stat

721.3673509516829

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [89]:
# Your code here: